
# Environment variables / credentials                                         

.env

# Python artifacts
__pycache__/
*.pyc
*.pyo

# SSH keys
*.pem
*.key

# Virtual environments
.venv/
venv/
.uivenv/
uivenv/
